In [3]:
import pandas as pd
from category_encoders import BinaryEncoder

In [4]:
data={"device":["smartphone","Tv","laptop","fridge","ipad"],
      "portable":["yes","no","yes","yes","no"]}

In [6]:
df=pd.DataFrame(data)
df

       device portable
0  smartphone      yes
1          Tv       no
2      laptop      yes
3      fridge      yes
4        ipad       no

In [7]:
encoder=BinaryEncoder(cols=["portable"])

In [8]:
df_encoded=encoder.fit_transform(df)

In [9]:
df_encoded

       device  portable_0  portable_1
0  smartphone           0           1
1          Tv           1           0
2      laptop           0           1
3      fridge           0           1
4        ipad           1           0