In [1]:
import pandas as pd
import sklearn
from sklearn.preprocessing import LabelEncoder

In [2]:
datas={"dress":["skirt","jeans","blouse","saree","pant"],
       "color":["blue","black","white","yellow","green"],
       "size":["medium","large","medium","small","small"]}

In [4]:
df=pd.DataFrame(datas)
df

    dress   color    size
0   skirt    blue  medium
1   jeans   black   large
2  blouse   white  medium
3   saree  yellow   small
4    pant   green   small

In [5]:
encoder=LabelEncoder()

In [6]:
df["encodedsize"]=encoder.fit_transform(df["size"])

In [7]:
df

    dress   color    size  encodedsize
0   skirt    blue  medium            1
1   jeans   black   large            0
2  blouse   white  medium            1
3   saree  yellow   small            2
4    pant   green   small            2