In [2]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split

In [3]:
data={"feature_1":[1,2,3,41,3,2,1,3,1,31,3,1,3],
      "feature_2":[2,41,3,13,1,3,1,3,14,4,4,2,4],
      "target":[0,1,0,0,1,1,1,1,0,1,1,1,0]}

In [5]:
df=pd.DataFrame(data)
df

    feature_1  feature_2  target
0           1          2       0
1           2         41       1
2           3          3       0
3          41         13       0
4           3          1       1
5           2          3       1
6           1          1       1
7           3          3       1
8           1         14       0
9          31          4       1
10          3          4       1
11          1          2       1
12          3          4       0

In [6]:
X=df[["feature_1","feature_2"]]
y=df[["target"]]

In [7]:
X_train ,X_test ,y_train ,y_test = train_test_split(X,y , test_size=0.25 , random_state=42)

In [8]:
len(X_train)

9

In [9]:
len(X_test)

4

In [10]:
X_train

    feature_1  feature_2
5           2          3
2           3          3
1           2         41
12          3          4
4           3          1
7           3          3
10          3          4
3          41         13
6           1          1

In [11]:
X_test

    feature_1  feature_2
11          1          2
9          31          4
0           1          2
8           1         14

In [12]:
y_train

    target
5        1
2        0
1        1
12       0
4        1
7        1
10       1
3        0
6        1

In [13]:
y_test

    target
11       1
9        1
0        0
8        0

In [15]:
X_train ,X_test ,y_train ,y_test = train_test_split(X,y , train_size=0.75 , random_state=42)

In [16]:
X_train

    feature_1  feature_2
5           2          3
2           3          3
1           2         41
12          3          4
4           3          1
7           3          3
10          3          4
3          41         13
6           1          1

In [17]:
len(X_train)

9